//- This jade template extends the layout.jade file. This means that the block content will be injected into the layout.jade file when it is rendered
extends layout

block content
	.container
		h3.orange-text.text-center Bet fake internet money on the outcome of your favorite Twitch.tv streamers!